Django>=5.0,<5.1
django-tenants>=3.10,<4.0
psycopg2-binary>=2.9,<3.0
python-decouple>=3.8,<4.0
Pillow>=12.0,<13.0
dj-database-url>=3.1,<4.0
whitenoise>=6.12,<7.0
django-storages>=1.14,<2.0
boto3>=1.43,<2.0
gunicorn>=26.0,<27.0
